services:

  telegram-ip-bot:
    image: anthonyx82/telegram-ip-bot:latest
    container_name: telegram-ip-bot
    environment:
      BOT_TOKEN: "8036806503:AAEtdhvJD2ZLtcrpdwe-eG6h4auHxWMD-5Y"
      CHAT_ID: "1214787378"
    restart: always

  uptime-kuma:
    image: louislam/uptime-kuma:1
    container_name: uptime-kuma
    restart: unless-stopped
    environment:
      - KUMA_ADMIN_USER=${KUMA_ADMIN_USER}
      - KUMA_ADMIN_PASSWORD=${KUMA_ADMIN_PASSWORD}
    volumes:
      - uptime_kuma_data:/app/data
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - web
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.uptime-kuma.rule=Host(`kuma82.ddns.net`)"
      - "traefik.http.routers.uptime-kuma.entrypoints=websecure"
      - "traefik.http.routers.uptime-kuma.tls.certresolver=myresolver"
      - "traefik.http.services.uptime-kuma.loadbalancer.server.port=3001"

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    restart: unless-stopped
    volumes:
      - prometheus_data:/etc/prometheus
    command:
      - --config.file=/etc/prometheus/prometheus.yml
      - --web.external-url=https://anthonyx82.ddns.net/prometheus/
    networks:
      - web
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.prometheus.rule=Host(`anthonyx82.ddns.net`) && PathPrefix(`/prometheus`)"
      - "traefik.http.routers.prometheus.entrypoints=websecure"
      - "traefik.http.routers.prometheus.tls.certresolver=myresolver"
      - "traefik.http.services.prometheus.loadbalancer.server.port=9090"
      - "traefik.http.routers.prometheus.middlewares=prometheus-auth"
      - "traefik.http.middlewares.prometheus-auth.basicauth.users=${PROMETHEUS_AUTH_USERPASS}"

  traefik:
    image: traefik:v3.5
    container_name: traefik
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - traefik_config:/etc/traefik:ro
      - /mnt/raid0/BlackOpsDocker/traefik/acme.json:/etc/traefik/acme.json
      - traefik_logs:/var/log/traefik
    networks:
      - web
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.api.rule=Host(`anthonyx82.ddns.net`) && (PathPrefix(`/dashboard`) || PathPrefix(`/api`))"
      - "traefik.http.routers.api.entrypoints=websecure"
      - "traefik.http.routers.api.service=api@internal"
      - "traefik.http.routers.api.tls.certresolver=myresolver"
      - "traefik.http.routers.api.tls=true"
      - "traefik.http.routers.api.middlewares=dashboard-auth"
      - "traefik.http.middlewares.dashboard-auth.basicauth.users=${TRAEFIK_DASHBOARD_AUTH_USERPASS}"

  whoami:
    image: traefik/whoami
    restart: unless-stopped
    networks:
      - web
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.whoami.rule=Host(`mail.workoutnoteapp.com`)"
      - "traefik.http.routers.whoami.entrypoints=websecure"
      - "traefik.http.routers.whoami.tls.certresolver=myresolver"

  jaeger:
    image: jaegertracing/all-in-one:latest
    container_name: jaeger
    restart: unless-stopped
    networks:
      - web
      - internal
    expose:
      - "16686"

  jaeger-proxy:
    image: nginx:alpine
    container_name: jaeger-proxy
    restart: unless-stopped
    networks:
      - web
      - internal
    volumes:
      - jaeger_proxy_config:/etc/nginx:ro
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.jaeger.rule=Host(`anthonyx82.ddns.net`) && PathPrefix(`/jaeger`)"
      - "traefik.http.routers.jaeger.entrypoints=websecure"
      - "traefik.http.routers.jaeger.tls.certresolver=myresolver"
      - "traefik.http.services.jaeger.loadbalancer.server.port=80"
      - "traefik.http.routers.jaeger.middlewares=jaeger-auth"
      - "traefik.http.middlewares.jaeger-auth.basicauth.users=${JAEGER_AUTH_USERPASS}"

  glances:
    image: nicolargo/glances:latest
    container_name: glances
    restart: unless-stopped
    pid: "host"
    environment:
      - GLANCES_OPT=-w
    networks:
      - web
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.glances.rule=Host(`anthonyx82.ddns.net`) && PathPrefix(`/performance`)"
      - "traefik.http.routers.glances.entrypoints=websecure"
      - "traefik.http.routers.glances.tls.certresolver=myresolver"
      - "traefik.http.services.glances.loadbalancer.server.port=61208"
      - "traefik.http.middlewares.glances-stripprefix.stripprefix.prefixes=/performance"
      - "traefik.http.routers.glances.middlewares=glances-stripprefix,glances-auth"
      - "traefik.http.middlewares.glances-auth.basicauth.users=${GLANCES_AUTH_USERPASS}"

  portainer:
    image: portainer/portainer-ce:latest
    container_name: portainer
    restart: always
    ports:
      - "9000:9000"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - portainer_data:/data

networks:
  web:
    external: true
  internal:
    driver: bridge

volumes:
  portainer_data:
    driver: local
    driver_opts:
      type: none
      device: /mnt/raid0/BlackOpsDocker/portainer
      o: bind

  uptime_kuma_data:
    driver: local
    driver_opts:
      type: none
      device: /mnt/raid0/BlackOpsDocker/akuma
      o: bind

  traefik_logs:
    driver: local
    driver_opts:
      type: none
      device: /mnt/raid0/BlackOpsDocker/traefik/logs
      o: bind

  prometheus_data:
    driver: local
    driver_opts:
      type: none
      device: /mnt/raid0/BlackOpsDocker/prometheus
      o: bind

  jaeger_proxy_config:
    driver: local
    driver_opts:
      type: none
      device: /mnt/raid0/BlackOpsDocker/jaeger
      o: bind

  traefik_config:
    driver: local
    driver_opts:
      type: none
      device: /mnt/raid0/BlackOpsDocker/traefik
      o: bind
